* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

h1, h2, h3, p, small {
    color: #ffffff;
}

body.background {
    background-color: #4f4f4f;
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-size: 25%;

  }

div.background-layer{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;

}
div.header, div.search {
    width: 50%;
    margin: 25px auto;
    padding-bottom: 5px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;

}
#search {
    font-weight: 400;
    padding: 2px 10px 2px 10px;
    margin-right: 10px;
    width: 25%;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 2px;

}

#submit {
    font-weight: 400;
    padding: 2px 10px 2px 10px;
    background-color: orange;
    color: white;
    width: 20%;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 2px;
    vertical-align: middle;
}
h1 {
    display: inline;
    padding-left: 10px;
}

h2 {
    display: inline;
}

#logo-header {
    height: 45px;
    margin-bottom: -10px;
}

form.search {
    margin-bottom: 20px;

}

div.search {
    line-height: 40px;
}

#badge {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
    background: orange;
    text-align: center;
    vertical-align: middle;
}

#logo-footer {
    height: 25px;
    margin-bottom: -8px;
    padding-right: 10px;
}

footer {
 /* margin: 10 auto; */
 text-align: center;
 width: 50%;
 margin: 10px auto;
}
section.mail-d {
    padding: 5px;
    margin: 1px auto;
    border: 1px solid #000000;
    background-color: #a0a0a0;
}

#mail-s {
    padding: 5px;
    margin: 1px auto;
    border: 1px solid #000000;
    background-color: #ffffff;
}
div.mails {
    width: 50%;
    margin: 25px auto;
    padding-bottom: 25px;
    border-bottom: 1px solid #ffffff;
}

input.checkbox {
    margin-left: 10px;
    padding-right: 5px;
    display: inline;
    color: #a0a0a0;
}
